.authentication-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  perspective: 1000px; /* Add perspective for 3D effect */
  padding: 0 20px; /* Add padding for mobile view */
}

.authentication-left {
  text-align: left;
  margin-right: 20px;
  padding: 20px;
  border-radius: 5px;
  font-size: 1.2rem;
  line-height: 1.5;
}

.authentication-box {
  width: 100%;
  max-width: 400px; /* Ensure max width for desktop view */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  box-sizing: border-box; /* Ensure padding is included in width */
}

.authentication-box button {
  padding: 10px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
}

.authentication-box button:hover {
  background-color: darkblue;
}

.authentication-box input {
  width: calc(100% - 20px);
  margin-bottom: 10px;
  height: 40px; /* Adjusted height */
  margin-top: 20px;
}

.authentication-box button {
  display: block;
  width: 100%;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .authentication-container {
    flex-direction: column; /* Stack elements vertically on mobile view */
    padding: 20px; /* Adjust padding for mobile view */
  }

  .authentication-left {
    margin-right: 0; /* Remove right margin on mobile view */
    margin-bottom: 20px; /* Add bottom margin for spacing */
    font-size: 1rem; /* Adjust font size for mobile view */
  }

  .authentication-box {
    width: 100%; /* Full width on mobile view */
    padding: 15px; /* Adjust padding for mobile view */
  }

  .authentication-box input {
    width: calc(100% - 20px);
  }

  .authentication-box button {
    padding: 10px; /* Adjust button padding for mobile view */
  }
}

  
  