/* UserProfilePage.css */

/* Rectangular container for the profile details */
/* Profile Container */
.profile-container {
  border: 1px solid #ccc;
  background-color: #B2BEB5;
  border-radius: 5px;
  padding: 40px;
  margin-bottom: 20px;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Profile Picture Container */
.profile-picture-container {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-picture-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Default Profile Icon */
.default-profile-icon {
  font-size: 220px;
  color: #ccc;
}

.upload-profile-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}

.upload-profile-button:hover {
  background-color: #0056b3;
}

.upload-profile-button:focus {
  outline: none;
}

/* Warning Icon */
.warning-icon {
  color: red; /* Sets the color of the icon to red */
}

/* Responsive design */
@media (max-width: 768px) {
  .profile-container {
    padding: 20px;
    margin-top: 60px;
  }

  .profile-picture-container {
    width: 150px;
    height: 150px;
  }

  .default-profile-icon {
    font-size: 150px;
  }

  .upload-profile-button {
    font-size: 14px;
    padding: 8px 16px;
    margin-top: 15px;
  }
}

@media (max-width: 576px) {
  .profile-container {
    padding: 15px;
    margin-top: 40px;
  }

  .profile-picture-container {
    width: 120px;
    height: 120px;
  }

  .default-profile-icon {
    font-size: 120px;
  }

  .upload-profile-button {
    font-size: 12px;
    padding: 6px 12px;
    margin-top: 10px;
  }
}
