/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Welcome Container */
.welcome-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw; /* Ensure full width */
  height: 100vh;
  background-image: url('../images/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Welcome Text */
.welcome-text {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  opacity: 0;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}

/* Description Text */
.description {
  font-size: 1.2rem;
  text-align: center;
  color: white;
  opacity: 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}

/* Animation Styles */
.animated-enter {
  opacity: 0;
  transform: translateY(-50px);
}

.animated-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

/* Media Queries */
@media (max-width: 768px) {
  .welcome-text {
    font-size: 1.5rem; /* Adjust font size for smaller screens */
  }

  .description {
    display: none; /* Hide description for smaller screens */
  }

  .continue-button {
    position: static; /* Change position to static for smaller screens */
    margin-top: 40px; /* Add more margin-top to push the button further down */
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    width: 80%; /* Adjust width to a percentage that fits better */
    max-width: 300px; /* Set a maximum width to prevent it from stretching too far */
  }

  .continue-button:hover {
    background-color: darkblue;
  }
}

@media (min-width: 769px) {
  .welcome-container {
    padding-top: 50px; /* Add more top padding on larger screens */
  }

  .continue-button {
    position: fixed;
    bottom: 150px;
    left: 50%;
    transform: translateX(-50%);
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
  }

  .continue-button:hover {
    background-color: darkblue;
  }
}
